.{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>NSD Form</title>
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">NSD</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label for="nsdName">Name:</label>
                                    <input class="input--style-4" type="text" name="nsdName"><br><br>
                                    <label for="nsdVersion">Version:</label>
                                    <input class="input--style-4" type="text" name="nsdVersion"><br><br>
                     
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label for="softwareMin">Software Min:</label>
                                    <input class="input--style-4" type="text" name="softwareMin"><br><br>
                                    <label for="nsdDescription">Description:</label>
                                    <input class="input--style-4" type="text" name="nsdDescription"><br><br>

                                </div>
                            </div>
                        </div>
                        
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label for="num">Number of VNFs:</label>
                                        <input class="input--style-4" type="text" name="num" id="num">
                                        <button class="btn btn--radius-2 btn--blue" id="generateButton">Generate</button>
                                    </div>
                                </div>
                            </div>
                        
                            <div id="subformContainer">
                                <!-- Generated subform fields will be added here -->
                            </div>                    
                        <input class="btn btn--radius-2 btn--blue" name ="sub" type="submit" value="Submit">
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'js/global.js' %}"></script>

    
<script>
    $(document).ready(function () {
        $("#generateButton").click(function (event) {
            event.preventDefault(); // Prevent the default form submission
            
            var num = parseInt($("#num").val());
            var subformContainer = $("#subformContainer");
            
            if (num > 5) {
                alert("vnf are limited to 5");
            } else {
                subformContainer.empty();
                for (var i = 0; i < num; i++) {
                    var subform = `
                                            <h2 class="title">VNF ${i}</h2>

                                            <div class="row row-space">
                                            <div class="col-2">
                                                <div class="input-group">
                                                <div class="subform">
                                                <label for="subform-field-${i}">VNF name:</label>
                                                <input class="input--style-4" type="text" name="name${i}">
                                            </div>
                                            <div class="subform">
                                                <label for="subform-field-${i}">persistence-id:</label>
                                                <input class="input--style-4" type="text" name="persistence-id${i}">
                                            </div>
                     
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="input-group">
                                                <div class="subform">
                                                <label for="subform-field-${i}">Memory:</label>
                                                <input class="input--style-4" type="text" name="memory${i}">
                                            </div>
                                            <div class="subform">
                                                <label for="subform-field-${i}">CPUs:</label>
                                                <input class="input--style-4" type="text" name="cpu">
                                            </div>

                                            </div>
                                        </div>
                                    </div>
                                    <h2 class="title">Cloud-init Details</h2>








                                    <div class="row row-space">
                                            <div class="col-2">
                                                <div class="input-group">
                                                <div class="subform">
                                                <label for="Cloud-init-path1-${i}">Cloud-init path 1</label>
                                                <input class="input--style-4" type="text" name="Cloud-init-path1-${i}">
                                                <label for="Cloud-init-path2-${i}">Cloud-init path 2</label>
                                                <input class="input--style-4" type="text" name="Cloud-init-path2-${i}">
                                                <label for="Cloud-init-path3-${i}">Cloud-init path 3</label>
                                                <input class="input--style-4" type="text" name="Cloud-init-path3-${i}">
                                                <label for="Cloud-init-path4-${i}">Cloud-init path 4</label>
                                                <input class="input--style-4" type="text" name="Cloud-init-path4-${i}">
                                                
                                            </div>                     
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="input-group">
                                                <div class="subform">
                                                <label for="Cloud-init-content1-${i}">Cloud-init content 1</label>
                                                <input class="input--style-4" type="text" name="Cloud-init-content1-${i}">
                                                <label for="Cloud-init-content2-${i}">Cloud-init content 2</label>
                                                <input class="input--style-4" type="text" name="Cloud-init-content2-${i}">
                                                <label for="Cloud-init-content3-${i}">Cloud-init content 3</label>
                                                <input class="input--style-4" type="text" name="Cloud-init-content3-${i}">
                                                <label for="Cloud-init-content4-${i}">Cloud-init content 4</label>
                                                <input class="input--style-4" type="text" name="Cloud-init-content4-${i}">
                                                
                                            </div>
                                        </div>
                                    </div>
                                        `;
         
                    subformContainer.append(subform);
                }
            }
        });
    });
</script>
</body>
</html>
